/******************************************************************

Stylesheet: Flexbox Grid Stylesheet

Based on this https://philipwalton.github.io/solved-by-flexbox/demos/grids/

******************************************************************/

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid--column {
    flex-direction:column;
}

.grid-cell {
  flex: 1;
}

.grid--flexCells > .grid-cell {
  display: flex;
}

.grid--top {
  align-items: flex-start;
}

.grid--bottom {
  align-items: flex-end;
}

.grid--center {
  align-items: center;
  justify-content: center;
}

.grid--alignCenter {
    align-items:center;
}

.grid--justifyCenter {
  justify-content: center;
}

.grid--spaceBetween{
  justify-content: space-between;
}

.grid-cell--top {
  align-self: flex-start;
}

.grid-cell--bottom {
  align-self: flex-end;
}

.grid-cell--center {
  align-self: center;
}

.grid-cell--autoSize {
  flex: none;
}

.grid--fit > .grid-cell {
  flex: 1;
}

.grid--full > .grid-cell {
  flex: 0 0 100%;
}

.grid--1of2 > .grid-cell {
  flex: 0 0 50%;
}

.grid--1of3 > .grid-cell {
  flex: 0 0 33.3333%;
}

.grid--1of4 > .grid-cell {
  flex: 0 0 25%;
}

.grid--gutters > .grid-cell {
  padding:0 1em;
}

.grid--guttersLg > .grid-cell {
  padding: 0 1.5em;
}

.grid--guttersXl > .grid-cell {
  padding:0 2vw;
}

/* Small screens */
@media (min-width: 481px) {
  .small-grid--fit > .grid-cell {
    flex: 1;
  }
  .small-grid--full > .grid-cell {
    flex: 0 0 100%;
  }
  .small-grid--1of2 > .grid-cell {
    flex: 0 0 50%
  }
  .small-grid--1of3 > .grid-cell {
    flex: 0 0 33.3333%
  }
  .small-grid--1of4 > .grid-cell {
    flex: 0 0 25%
  }
}


/* Small screens */
@media (min-width: 768px) {
  .medium-grid--fit > .grid-cell {
    flex: 1;
  }
  .medium-grid--full > .grid-cell {
    flex: 0 0 100%;
  }
  .medium-grid--1of2 > .grid-cell {
    flex: 0 0 50%
  }
  .medium-grid--1of3 > .grid-cell {
    flex: 0 0 33.3333%
  }
  .medium-grid--1of4 > .grid-cell {
    flex: 0 0 25%
  }
}

/* Large screens */
@media (min-width: 1030px) {
  .large-grid--fit > .grid-cell {
    flex: 1;
  }
  .large-grid--full > .grid-cell {
    flex: 0 0 100%;
  }
  .large-grid--1of2 > .grid-cell {
    flex: 0 0 50%
  }
  .large-grid--1of3 > .grid-cell {
    flex: 0 0 33.3333%
  }
  .large-grid--1of4 > .grid-cell {
    flex: 0 0 25%
  }
}
