@import "grid";
@import "templates";

.pad {
	padding:2vw;
}

.wrap {
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
}

.bigpad {
	padding:4vw;
}

#sideline {
	display:none;
}

@media screen and (min-width:1030px) {
	#page {
		display: grid;
		grid-template-columns: 144px 1fr
	}

	#masthead {
		flex:1;
		position:relative;
		grid-column: 1 / span 1;
	}

	#primary {
		grid-column: 2 / span 1;
	}

	#colophon {
		grid-column: 1 / span 2;
	}
}


@media screen and (min-width:1440px) {
	#page {
		display: grid;
		grid-template-columns: 144px 1fr 144px;
	}

	.home, .blog { #sideline {
		display:flex;
		grid-column: 3 / span 1;
	}}

	#colophon {
		grid-column: 1 / span 3;
	}
}
