header#masthead {
    @extend .grid;
}

div#primary {
    padding:4vw;
}

section#content {
    @extend .grid;
    @extend .grid--full;
    @extend .medium-grid--fit;
    @extend .grid--guttersXl;

    & > main, & > aside{
        @extend .grid-cell;
    }
}

.single section.entry-content {
    @extend .grid;
    @extend .grid--full;
    @extend .large-grid--fit;
    @extend .grid--guttersXl;

    & > main, & > aside{
        @extend .grid-cell;
    }
}

/* Medium screens */
@media (min-width: 768px) {
    section#content > aside {
        flex: 0 0 19.0983005625vw;
    }

    .page section#content > main {
        padding-left:19.0983005625vw;
    }
}


/* Large screens */
@media (min-width: 1030px) {

    section#content {
        margin-bottom:0;

        & > main {
            padding-bottom:4vw;
        }

        & > aside {
            padding-right:4vw;
        }
    }

    div#primary {
        padding:4vw 0 0 4vw;
    }

}
