body {
	font-family: $font__main;
	line-height: $font__line-height-body;
	font-size:calc(16px + .4vw);
	color:var(--text-color);
	text-rendering: optimizelegibility;
}

.text-wrap {
	max-width:33em;
	margin-left:auto;
	margin-right:auto;
}

@import "headings";

@import "copy";
