body {
	color: $color__text-main;
	font-family: $font__main;
	line-height: $font__line-height-body;
	font-size:calc(16px + .3vw);
	text-rendering: optimizelegibility;
}

.text-wrap {
	max-width:33em;
	margin-left:0;
	margin-right:0;
}

@import "headings";

@import "copy";
