
.text-center {
	text-align: center;
}

.mask-bg {
	background-color:var(--bg-mask);
}

.dont-render-dawg {
	position: absolute;
	height: 0;
	width: 0;
}

.flex {
	display: flex;
}

	.align-center {
		align-items: center;
	}

.spin {
	animation:spin 6s infinite linear;

	&:hover, &:focus {
		animation-play-state: paused;
	}
}

.spin-hover:hover{
	animation:spin 6s infinite linear;
}

.absolute-link {
	position:absolute;
	top:0;
	left: 0;
	right:0;
	bottom:0;
	border: none;
	display: block;
	z-index: 999;
	cursor: pointer;
}

.youtube{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

	iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.faqs {
	h3, p {
		border-color:$color__primary;
		@extend .chameleon-border;
		border-width:2px;
		border-style:solid;
		border-left:none;
		border-right:none;
		border-bottom:none;
		padding:3vw 3vw 0;
		margin:3vw 0 0;
	}
}

	/* Small screens */
	@media (min-width: 481px) {
		.faqs {
			display:flex;
			flex-wrap:wrap;
			margin:0 auto;
			max-width:960px;


			h3 {
				flex-basis: 33.33333%;
    			max-width: 33.33333%;
				font-size:1.2em;
			}

			p {
				flex-basis: 66.66666%;
    			max-width: 66.66666%;
				line-height:1.3;
			}
		}
	}

	@media (max-width: 481px) {
		.faqs p {border-color:rgba(255,255,255,.0)!important}
	}
