
.spin {
	animation:spin 5s infinite linear;

	&:hover, &:focus {
		animation-play-state: paused;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
