footer#colophon {
	font-size:.8em;

	#footer-mailchimp {
		padding:4vw;
		background:rgba(0,0,0,.6);
		text-align:center;
		border-width:6px;
		border-style:dashed;
		border-top:none;
		border-left:none;
		border-right:none;


		h3 {
			text-shadow:4px 4px 0px rgba(0,0,0,.4);
			strong {font-size:1.3em;text-transform:uppercase;font-weight:900;text-shadow:8px 8px 1px rgba(0,0,0,.4);}

		}

		input {
			padding:1em;
			line-height:1;
			font-size:1.2em;
			margin:10px;
			box-shadow:5px 5px 0 0 rgba(0,0,0,.4);
		}

		input[type=email]{min-width:280px;}

		p a {opacity:.8;}
	}

	#colophon--inner {
		flex-wrap:wrap;

		h3 {
			color:rgba(0,0,0,.7);
			margin:0 auto .5em;
		}

		p {
			margin:0;
			line-height:1.4;
		}

		p + p {
			margin-top:1.5em;
		}

		.button {
			background:rgba(255,255,255,.8);
			color:#000 !important;
			text-decoration:none;
		}
	}
	.grid-cell {
		margin:1vw;
		padding:3vw;
		min-width:320px;
	}
}
