#masthead {
	position:relative;
}
	#masthead--inner {
		width:100%;
		padding:0;
		display:flex;
		height:40px;
		margin-bottom:10px;
		justify-content: space-between;
		align-items: flex-start;

		.button {
			background:rgba(255,255,255,.9);
			padding:0 .7em;
			margin:5px;
			font-size:.8em;
			color:black;
			line-height:30px;
			text-decoration:none;
			font-weight:bold;
			border:none;
			border-radius:3px;
			box-shadow: 3px 3px 0px 0px rgba(0,0,0,.4);

			.open {display:none;}

			&:hover {
				background:#fff;
				box-shadow: 5px 5px 3px 0 rgba(0,0,0,.4);
			}

			&:active {
				box-shadow:none;
				background:rgba(0,0,0,.5);
				color:#000;
			}
		}
	}

	#masthead-logo {
		width:60px;
		height:60px;
		border:none;
		margin:0;
		@extend .spin-hover;
		display:block;
	}

	#masthead--nav {
		display:none;
	}

#marquee {
	display:none;
}

@media (min-width:768px){

}

@media (min-width:1030px){

	#marquee {
		display:flex;
		font-size:13px;
		line-height:1.1;
		align-items: center;
		justify-content: space-between;
	}

	#marquee--latest {
		display:flex;
		padding:2px 10px;
		background:#eaeaea;
		margin:10px;
		line-height:2;
		border-radius:5px;
		flex-basis:auto;
	}

	.marquee-post {
		overflow:visible;
		position:relative;

		a, strong {
			display:inline-block;
			padding:0;
			border:none;
			vertical-align: middle;
			max-width:320px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-decoration:none;
		}

		a:hover, a:focus {
			text-decoration: underline;
		}

		#speech-bubble {
			position:absolute;
			bottom:-14px;
			width:20px;
			left:0px;
			fill:#eaeaea;
		}
	}

	.site-access {
		margin:10px;
		a {
			margin:2px 5px;
			border:none;
		}
	}

	#masthead--nav {
		display:flex;
		width:90%;
		flex-direction:column;
		flex-wrap:nowrap;
		justify-content:flex-start;

		a {
			width:100%;
			margin:1.5em auto 0;
		}
	}

	#masthead--inner {
		display:flex;
		height:auto;
		align-items:center;
		justify-content: center;
		flex-direction:column;

		.button {
			display:none;
		}
	}

	#masthead-logo {
		width:111px;
		height:111px;
		margin:0 auto;
	}


}
