
/* Chameleon Links */

a {
	text-decoration:none;
	text-decoration-color:$color__primary;
    transition: border-color 6.0s linear;
}

/* CHAMELEON */

.color0 a {border-color:$violet}
.color1 a {border-color:$purple}
.color2 a {border-color:$blue}
.color3 a {border-color:$light-blue}
.color4 a {border-color:$teal}
.color5 a {border-color:$light-green}
.color6 a {border-color:$green}
.color7 a {border-color:$light-orange}
.color8 a {border-color:$orange}
.color9 a {border-color:$bright-red}
.color10 a {border-color:$red}
.color11 a {border-color:$pink}
.color12 a {border-color:$fuschia}

/* CHAMELEON BACKGROUND */

.chameleon-bg {
	background-color:$color__primary;
	transition: background-color 6s linear;
}

.color0 .chameleon-bg 	{background-color:$violet;}
.color1 .chameleon-bg  	{background-color:$purple}
.color2 .chameleon-bg  	{background-color:$blue}
.color3 .chameleon-bg  	{background-color:$light-blue}
.color4 .chameleon-bg  	{background-color:$teal}
.color5 .chameleon-bg 	{background-color:$light-green}
.color6 .chameleon-bg  	{background-color:$green}
.color7 .chameleon-bg  	{background-color:$light-orange}
.color8 .chameleon-bg  	{background-color:$orange}
.color9 .chameleon-bg  	{background-color:$bright-red}
.color10 .chameleon-bg  {background-color:$red}
.color11 .chameleon-bg  {background-color:$pink}
.color12 .chameleon-bg  {background-color:$fuschia}


/* CHAMELEON TEXT COLOR */

.chameleon-color {color:$color__primary; transition: color 6.0s linear}

.color0 .chameleon-color {color:$violet;}
.color1 .chameleon-color  { color: $purple;}
.color2 .chameleon-color  { color: $blue;}
.color3 .chameleon-color  { color: $light-blue;}
.color4 .chameleon-color  { color: $teal;}
.color5 .chameleon-color {color: $light-green;}
.color6 .chameleon-color  { color:$green;}
.color7 .chameleon-color  { color:$light-orange;}
.color8 .chameleon-color  { color: $orange;}
.color9 .chameleon-color  { color: $bright-red;}
.color10 .chameleon-color  { color: $red;}
.color11 .chameleon-color  { color: $pink;}
.color12 .chameleon-color  { color: $fuschia;}

/* CHAMELEON SVG FILL COLOR */

.chameleon-fill {fill:$color__primary; transition: fill 6.0s linear}

.color0 .chameleon-fill {fill:$violet;}
.color1 .chameleon-fill {fill: $purple;}
.color2 .chameleon-fill {fill: $blue;}
.color3 .chameleon-fill {fill: $light-blue;}
.color4 .chameleon-fill {fill: $teal;}
.color5 .chameleon-fill {fill: $light-green;}
.color6 .chameleon-fill {fill:$green;}
.color7 .chameleon-fill {fill:$light-orange;}
.color8 .chameleon-fill {fill: $orange;}
.color9 .chameleon-fill {fill: $bright-red;}
.color10 .chameleon-fill {fill: $red;}
.color11 .chameleon-fill {fill: $pink;}
.color12 .chameleon-fill {fill: $fuschia;}

/* CHAMELEON BORDER */

.chameleon-border {border-color:$color__primary; transition: border-color 6s linear}

.color0 .chameleon-border {border-color:$violet;}
.color1 .chameleon-border {border-color:$purple}
.color2 .chameleon-border {border-color:$blue}
.color3 .chameleon-border {border-color:$light-blue}
.color4 .chameleon-border {border-color:$teal}
.color5 .chameleon-border {border-color:$light-green}
.color6 .chameleon-border {border-color:$green}
.color7 .chameleon-border {border-color:$light-orange}
.color8 .chameleon-border {border-color:$orange}
.color9 .chameleon-border {border-color:$bright-red}
.color10 .chameleon-border {border-color:$red}
.color11 .chameleon-border {border-color:$pink}
.color12 .chameleon-border {border-color:$fuschia}

.chameleon-colorborder {color:$color__primary; border-color:$color__primary; transition: color 6s linear, border 6s linear;}

.color0 .chameleon-colorborder {color:$violet;border-color:$violet;}
.color1 .chameleon-colorborder { color: $purple;border-color:$purple}
.color2 .chameleon-colorborder { color: $blue;border-color:$blue}
.color3 .chameleon-colorborder { color: $light-blue;border-color:$light-blue}
.color4 .chameleon-colorborder { color: $teal;border-color:$teal}
.color5 .chameleon-colorborder {color: $light-green; border-color:$light-green}
.color6 .chameleon-colorborder { color:$green; border-color:$green}
.color7 .chameleon-colorborder { color:$light-orange; border-color:$light-orange}
.color8 .chameleon-colorborder { color: $orange; border-color:$orange}
.color9 .chameleon-colorborder { color: $bright-red; border-color:$bright-red}
.color10 .chameleon-colorborder { color: $red; border-color:$red}
.color11 .chameleon-colorborder { color: $pink; border-color:$pink}
.color12 .chameleon-colorborder { color: $fuschia; border-color:$fuschia}
