$blue:				#467cbf;
$light-blue:		#42b4e3;
$dark-blue:			#31307e;
$green:				#40ae49;
$dark-green:		#008345;
$light-green:		#81bc41;
$yellow-green:		#ccdb29;
$light-yellow:		#fcdc00;
$yellow:			#ffcd00;
$orange:			#ed7623;
$light-orange:		#f5a81c;
$bright-red:		#e02828;
$dark-red:			#b4292e;
$red:				#cb2044;
$pink: 				#e81d76;
$violet:			#8e1e58;
$fuschia:			#99298b;
$purple:			#AF6EE2;
$dark-purple:		#803c96;
$teal:				#00a897;
$grey: 				#9c9c9c;

$color__primary: $purple;

:root {
	--bg-color: white;
	--bg-faint: #eaeaea;
	--bg-mask: rgba(255,255,255,.85);
	--text-color: black;
	--text-color-reverse: white;
}

$color__background-body: var(--bg-color);
$color__background-faint: var(--bg-faint);
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link-hover: lighten($color__primary,20%);
$color__text-main: var(--text-color);

$color__border-input: #ccc;
$color__border-abbr: #666;

::selection {background: lighten($teal,20%);}
