a {
	border-bottom-width:.1em;
	border-bottom-style:solid;
	border-bottom-color:$color__primary;
	color:var(--text-color);

	&:visited {
		opacity:.8;
	}
	&:hover,
	&:focus,
	&:active {
		border-bottom-width:.15em;
		color:$color__text-main
	}
	&:focus {
		outline: medium dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
