.navis {

	.button {
		background:rgba(255,255,255,.9);
		padding:0 .7em;
		margin:5px;
		font-size:.8em;
		color:black;
		line-height:30px;
		text-decoration:none;
		font-weight:bold;
		font-size:14px;
		border:none;
		border-radius:3px;
		box-shadow: 3px 3px 0px 0px rgba(0,0,0,.4);

		.open {display:none;}

		&:hover {
			background:#fff;
			box-shadow: 5px 5px 3px 0 rgba(0,0,0,.4);
		}

		&:active {
			box-shadow:none;
			background:rgba(0,0,0,.5);
			color:#000;
		}
	}
}

.sK-nav {
	justify-content:space-evenly;
	align-items:center;
	display:flex;
	flex-wrap:wrap;
	margin:0 auto;


	a {
		display:block;
		transition:none;
		border:none;
		fill:currentColor;

		svg {
			width:40px;
			height:40px;
			display:block;
			fill:black;
			margin:0 auto;
		}

		span {
			display:block;
			margin-top:1vh;
			font-size:14px;
			font-weight:bold;
			letter-spacing:.04em;
			text-transform:uppercase;
			text-align:center;
		}

		&:hover, &:focus {
			@extend .chameleon-color;
			transition:color .15s ease-in;
		}
	}
}
.posts-navigation,
.post-navigation {
	display:block;
	width:100%;
	margin:2vw auto;
	padding:0 2vw;

	.nav-links {

		justify-content:space-between;


		a {
			padding:.5em 1em;
			font-weight:bold;
			display:inline-block;
			border:none;
		}

		.nav-previous a:before {
			content:'←';
			display:inline-block;
			margin-right:4px;
			margin-left:-1em;
		}
		.nav-next {text-align:right;}

		.nav-next a:after {content:'→'; display:inline-block; margin-left:4px;margin-right:-1em;}
	}

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
}


@media (min-width:1030px){
	.navis {
		.button {
			display:none;
		}
	}
}
