.main-navigation {
	@extend .grid;
	@extend .grid--center;
	font-weight:bold;
	align-items: stretch;
	align-self:stretch;

	.menu-main-nav-container {
		display:flex;
		align-self:stretch;
	}

	button {
		background:rgba(255,255,255,.9);
		padding:2vw;
		margin:2vw;
		font-weight:bold;
		border:none;
		position:absolute;
		top:0;
		right:0;
		transition: none;
		transition: color 6.0s linear;
		box-shadow: 3px 3px 0 0 rgba(0,0,0,.4);

		&:hover {
			background:#fff;
			box-shadow: 5px 5px 3px 0 rgba(0,0,0,.4);
		}

		&:active {
			box-shadow:none;
			background:rgba(0,0,0,.5);
			color:#000;
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		/* Sub Menus */

		ul {
			box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 100%;
			margin:0;
			left: -999em;
			z-index: 99999;
			border-radius:3px;
			@extend .chameleon;
			transition: none;
		    transition: background-color 6s linear;
			@extend .chameleon-bg;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				padding:.7em 1em;
				background:rgba(255,255,255,.1);
				border-radius:2px;
				&:after {display:none;}

				&:hover, &:focus {
					background:rgba(255,255,255,.2);
				}
				&:active{
					background:rgba(0,0,0,.05);
				}

			}

		}

		/* Show Sub-Menus */

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		padding:0;
		margin:0;
		position:relative;
		a {
			display: flex;
			position:relative;
			align-self: stretch;
			padding:1vw;
			text-decoration: none !important;
			transition:none;
			color:rgba(255,255,255,.7);

			&:after {
				display:block;
				content: "";
				height:8px;
				width:90%;
				left:5%;
				position:absolute;
				bottom:-10px;
				opacity:0;
				background-repeat: no-repeat;
				background-position:center;
				background-size:contain;
				background-image:url(img/sk-underline-1.svg);
				transition:all .1s ease-in-out;
			}

			&:hover {
				color:#fff;

				&:after {opacity:1; bottom:5px;}
			}
		}

		&:hover > a:after {opacity:1; bottom:5px;}

		&:nth-of-type(2) a:after {background-image:url(img/sk-underline-2.svg);}
		&:nth-of-type(3) a:after {background-image:url(img/sk-underline-3.svg);}
		&:nth-of-type(4) a:after {background-image:url(img/sk-underline-4.svg);}
		&:nth-of-type(5) a:after {background-image:url(img/sk-underline-5.svg);}
		&:nth-of-type(6) a:after {background-image:url(img/sk-underline-2.svg);}
		&:nth-of-type(7) a:after {background-image:url(img/sk-underline-3.svg);}
		&:nth-of-type(8) a:after {background-image:url(img/sk-underline-4.svg);}
		&:nth-of-type(9) a:after {background-image:url(img/sk-underline-5.svg);}

		/* Display arrow for submenus */
		&.menu-item-has-children a:after {background-image:url(img/sk-arrow-down.svg) !important;}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color:rgba(0,0,0,.45) !important;
		// &:after{
		// 	background-image:url(img/sk-arrow-down.svg) !important;
		// 	opacity:1!important;
		// 	bottom:5px!important;
		// }
	}
}

.site-access {
	display:none;
	a, span {
		display:inline-block;
		text-decoration:none !important;
		margin:5px;
		font-size:.9em;
	}

	a:hover {text-decoration: underline!important;}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled {
	ul {
		display: flex;
	}

	.site-access {
		display:flex;
	}
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		ul {
			display: flex;
			align-self:stretch;
			align-items:center;

			li {
				ul {display:block;}
			}
		}
	}

	.site-access {
		display:flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	display:block;
	width:100%;
	margin:2vw auto;

	.nav-links {
		@extend .grid;
		justify-content:space-between;

		a {
			padding:.5em .7em;
			display:inline-block;
			font-weight:bold;
			border:none;
			border-radius:2px;
			color:rgba(255,255,255,.8);
			background:$color__primary;
			transition:none;
			transition:background 6s linear;
			@extend .chameleon;
			@extend .chameleon-bg;

			&:hover {
				box-shadow:inset 0 20px 40px 0 rgba(255,255,255,.25);
				text-decoration:none;
				color:#fff;
			}

			&:active {
				color:rgba(0,0,0,.6);
				box-shadow:inset 0 20px 40px 0 rgba(0,0,0,.25);
			}
		}

		.nav-previous a:before {
			content:'←';
			display:inline-block;
			margin-right:4px;
		}

		.nav-next a:after {content:'→'; display:inline-block; margin-left:4px;}
	}

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
