.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.excerpt {
	font-family:$serif;
	line-height:1.3;
	margin:0 auto 1.5rem;
	border-width:2px;
	border-style:solid;
	border-left:none;
	border-bottom:none;
	padding:1.5rem 1.5rem 0 0;
	border-radius:2px;

	p {
		margin:0;
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page {
	main#main .entry-header {
		text-align:center;
	}
}

/* entry content */
.entry-content {
	text-rendering: optimizelegibility;

	p, ul, ol, address, h1,h2,h3,h4,h5,h6 {
		max-width:720px;
		margin-left:auto;
		margin-right:auto;
	}

	blockquote, pre, form{
		max-width:800px;
		margin-left:auto;
		margin-right:auto;
	}

	p + p {
		margin-bottom:1.5rem;
	}

	hr {
		border: 0;
		width:50%;
		height:1px;
		margin:2em auto 2.5em;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.7), rgba(0, 0, 0, 0));
	}


	.alignleft, img.alignleft {
		margin-right: 3vw;
		margin-left:-3vw;
		max-width:50%;
		border-left:none !important;
		display: inline;
		float: left;
	}

	.alignright, img.alignright {
		margin-left: 3vw;
		margin-right:-3vw;
		max-width:50%;
		border-right:none !important;
		display: inline;
		float: right;
	}

	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: -3vw;
		max-width:calc(100% + 6vw);
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
	}

} /* end .entry-content */

.post-thumbnail img {
	width:100%;
	height:auto;
	display:block;
}

.page-subtitle {
	display:inline-block;
	@extend .chameleon;
	@extend .chameleon-bg;
	color:#fff;
	font-size:1em;
	padding:0 .2em;
	margin:0 0 0 .2em;
	transform: skewX(-10deg);
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.cat-links, .tags-links {
	margin-right:.35em;

	a {
		display:inline-block;
		margin:0 .15em 0 0;
		text-decoration:none;

		&:hover {text-decoration:underline;}
	}

	a:before {
		display:inline;
		content:'#';
		margin-right:1px;
	}
}

.tags-links a{
	opacity:.7;
	&:hover {
		opacity:1;
	}
}

.loop {

	nav.post-filters {
		display:block;
		text-align:center;
		width:100%;
		font-weight:bold;
		line-height:2;
		font-size:.7em;
		text-transform:uppercase;

		.post-filter {
			display:inline-block;
			margin:4px 7px;
			vertical-align: middle;

			select {
				margin:0 5px;
				border-width:2px;
				border-style:solid;
				border-radius:2px;
				font-size:1.2em;
				padding:5px;
				@extend .chameleon-border;
			}
		}
	}

	article.type-post.loopCard {
		margin:20px;
		border-width:2px;
		border-radius:2px;
		border-style:solid;

		.entry-header, .entry-content, .entry-footer {
			padding:20px 20px 0;
		}

		.primary-category a{
			font-weight:bold;
			font-size:.8em;
			line-height:1;
			color:#000;
		}

		.entry-title {
			font-size:calc(1.2em + .3vw);
			margin:.1em auto;
		}

		.entry-meta {
			margin:0 auto;
			font-family:$serif;
			font-size:.7em;
			line-height:1;
		}

		.entry-content {
			line-height:1.2;
			margin:0;
			padding-top:0;
		}

		.entry-footer {
			padding:10px;
			font-weight:bold;
			font-size:.6em;
			margin-bottom:-1px;

			.cat-links {
				display:none;
			}

			a.readMore {
				color:$color__primary;
				@extend .chameleon;
				@extend .chameleon-color;
				text-decoration:none;
				background:rgba(255,255,255,.9);
				padding:5px 8px;
				margin:0 0 0 10px;
				border-radius:2px;
				font-weight:bold;
				border:none;
				transition: none;
				transition: color 6.0s linear;
				box-shadow: 3px 3px 0 0 rgba(0,0,0,.4);

				&:hover {
					background:#fff;
					box-shadow: 5px 5px 3px 0 rgba(0,0,0,.4);
				}

				&:active {
					box-shadow:none;
					background:rgba(0,0,0,.5);
					color:#000;
				}
			}
		}
		&.tag-patrons-only {
			position:relative;
			border-color:#F96854;

			a {color:#F96854 !important; &:hover {color:lighten(#F96854,10%);}}

			footer.entry-footer {
				background:#F96854;

				a {color:#fff !important;}
				a.readMore {color:#F96854 !important; &:hover {color:lighten(#F96854,10%);}}
			}
			&:before {
				display:block;
				content:'Patrons Only';
				background:#F96854;
				color:#fff;
				text-transform:uppercase;
				padding:.8em;
				font-size:.6em;
				font-weight:900;
				position:absolute;
				border-radius:2px;
				top:0;
				right:0;
			}


		}
	}
}

.single {
	article.type-post {

		.post-thumbnail {
			img {
				margin-bottom:3vw;
			}
		}

		.entry-content {
			main > p:first-of-type {
				margin-top:0;
				font-size:calc(1.2em + .5vw);
				line-height:1.2;
				font-weight:bold;
				font-family:$sans-serif;
			}

			main {
				p {
					font-family:$serif;
				}

				blockquote {
					font-family:$sans-serif;
				}
			}
		}
	}
}

/* Home Page Styles */

body.page-template-page-home {

	header#masthead {
		box-shadow:none;
		position:fixed;
		z-index:8888;
		width:100%;
		top:0;
		left:0;
		background-image:none;
		box-shadow:0px 0px 6px rgba(0,0,0,.5);

		.current-menu-item {display:none;}

	}

	section.hero {
		z-index:9999;
		position:relative;

		.hero--section {
			padding:4vw;
		}

		.hero--image {
			max-width:40vw;
			padding:2vw;
		}

		h2 {
			font-weight:900;
			margin-bottom:0;
			line-height:1;
		}
		p {
			font-size:1.2em;
			font-weight:bold;
			line-height:1.3;
		}

		.hero--text {
			padding:0 4vw;
			max-width:800px;

			a.asterisk {
				text-decoration:none;
				padding:2px;
			}
		}

		.hero--cta {

			border-width:6px;
			border-style: dashed;
			border-left:none;
			border-right:none;
			border-bottom:none;
			flex-basis:100%;
			background:#fff;
			text-align:center;

			p {
				max-width:720px;
				font-size:1.3em;
			}

			span.grid-cell {
				font-weight:bold;
				flex-basis:auto;
				margin:0;
				font-size:.8em;
			}

			a {
				display:flex;
				flex-direction:column;
				justify-content:center;
				margin:20px;
				padding:20px;
				letter-spacing:.05em;
				border-radius:2px;
				text-decoration:none;
				font-weight:800;
				box-shadow: 5px 5px 0 0 rgba(0,0,0,.2);
				transition:none;
				transition:background 6s linear;
				align-self:stretch;
				text-align:center;

				strong {
					font-size:1.2em;
					line-height:1;
					color:rgba(255,255,255,.95);
				}

				span {
					font-size:.7em;
					letter-spacing:0;
					display:block;
					line-height:1;
					margin-top:5px;
					font-weight:400;
					font-family:$serif;
					color:#000;
				}

				&:hover {
					transform:translatey(-1px);
					box-shadow: 7px 7px 3px 0 rgba(0,0,0,.15), inset 0 20px 40px 0 rgba(255,255,255,.1);
					align-items: center;
					strong {color:#fff;}
				}

				&:active {
					box-shadow:inset 0 20px 40px 0 rgba(0,0,0,.25);
					background:rgba(0,0,0,.4);
					color:#000;
					strong {color:rgba(0,0,0,.5);}
				}


			}
		}
	}

	#latest {
		position:relative;
		padding:0;
		margin:0;
		z-index:9999;
		background:#fff;

		article.latest--single {
			.post-thumbnail {
				img {
					opacity:.6;
					&:hover {opacity:.9;}
				}
			}

			header, section, footer {
				padding:0 4vw;
			}

			footer {
				padding-bottom:2vw;
			}
		}

		aside.loop {
			padding:0 2vw;

			article.type-post.loopCard {
				flex-basis:100%;
				margin:0 0 2vw;
				flex-direction:column;
			}
		}
	}

	#subscribe {
		background-color:#000;
		padding:4vw;
		z-index:9999;
		position:relative;
	}

	#primary {
		padding:0;
	}

	section#content {
		margin:0;
		display:block;
	}
	main#home {
		padding:0;
	}
}


/* Small screens */
@media (min-width: 481px) {

}

/* Medium screens */
@media (min-width: 768px) {

    .single, .blog{
		main#main {
			border-width:2px;
			border-style:solid;
			border-top:none;
			border-left:none;
			border-bottom:none;

			header.entry-header, .entry-content main {
				padding-right:4vw;
			}
		}

		.excerpt {
			margin-right:3vw;
		}
    }

	.blog {
		#content main#main {
			padding:4vw;
		}
	}
}

/* Large screens */
@media (min-width: 1030px) {
	.loop {
		display: flex;
		flex-flow: row wrap;
		justify-content:center;
		align-items:stretch;
		align-content:flex-start;

		article.loopCard.type-post {
			max-width:100%;
			flex-basis: 45%;
			margin:2.5%;
			display:flex;
			flex-direction:column;
			justify-content:space-between;

			.entry-header, .entry-content {
				padding:0 4% 0;
			}

			.entry-header {
				padding-top:4%;
			}
			.entry-footer {
				justify-self:flex-end;
				padding:2% 4%;
			}
		}
	}
    .single section.entry-content {
        & > aside {
            flex: 0 0 calc(38.196601125vw / 2);
        }

		.excerpt {
			margin-right:0;
		}
    }

	body.page-template-page-home {
		#latest {
			&>main {
				flex-basis:66.666%;

			}

			& > aside {
				flex-basis:33.3%;
				padding:0 1vw;
				display:block;
			}
		}
	}
}
